@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap" rel="stylesheet');
@import url('href="https://fonts.googleapis.com/css2?family=Chango&display=swap" rel="stylesheet');
body{
    background-color: rgb(111, 143, 63);
    background: url(../img/paysage.avif) no-repeat;
    height: 1100px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.big{
    font-family: "Fascinate", system-ui;
    color: crimson;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: 50px;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img1 img{
    width: 50%;
    margin-left: 150px;
    margin-top: 200px  
}

.img2 img{
    width: 70%;
    margin-top: 50px  
}

.img3 img{
    width: 50%; 
}


.connexion{
    text-align: center;
}

.liste{
    font-family: "Chango", sans-serif;
    font-size: medium;
}

.color{
    background-color: blueviolet;
}

.big2{
    font-family: "Chango", sans-serif;
    color : rgb(194, 93, 194);
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 50px;
}