{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}

    <div class="big">
        {% if app.user  %}
            <h1> Coucou, {{ app.user.pseudo}}, Féerique ! </h>
        {% else  %}
            <h1> Royaume des fées 🧚‍♂️ </h1>
    </div>
     <div class="big2">
        <p>Tu peux te connecter ou t'inscrire pour t'envoler avec nous !</p>
    {% endif  %}
    </div>
    <header>
    <div class="img1" >
        <img src="img/fée.png" alt="fée magique">
    </div>

    <div class="img2">
       <img src="img/fée.png" alt="fée magique">
    </div>

    <div class="img3">
      <img src="img/fée.png" alt="fée magique">
    </div>
    </header>

    
{% endblock %}
